menu "AirU Configuration"
config MQTT_HOST
	string "MQTT Host"
	default "example.host.com"
	help
		Host server running the MQTT broker. 
        
config MQTT_USERNAME
	string "MQTT Username"
	default "username"
	help
		MQTT Username for the desired broker.
		
config MQTT_PASSWORD
	string "MQTT Password"
	default "password"
	help
		MQTT password for the desired broker.
endmenu
